include _mixins.jade

doctype html

html
    head
        +defaultmeta()
        title Aw_Man3703; Index
        +defaultcss("index")
    body
        h1#title Aw Man3703

        div#quotation
            h2.text-secondary.quotation Less is more
            p.text-secondary -
                a(href="https://en.wikipedia.org/wiki/Ludwig_Mies_van_der_Rohe", target="_blank") Ludwig Mies van der Rohe

        ul#menu
            li
                a My favorite projects
            li
                a(href="https://github.com/AwMan3703", target="_blank") My Github repos
            li
                a(href="skills.html") My skills (if you care)

        +defaultjs("index")