
:root {
    --font-main: 'Courier New', Courier, monospace;
    --color-text-main: white;
    --color-text-secondary: #d9dafd9f;
    --color-bg-body: #10131d;
    --color-bg-element: #1a1e2d;
    --color-fg-element: #1a1e2d;
    --color-bg-gradient-1: #0b0c11;
    --color-bg-gradient-2: #000000;
}

* {
    user-select: none;
    font-family: var(--font-main);
    color: var(--color-text-main);
    max-width: 100vw !important;
    transition: all .15s !important;
    overflow-x: hidden;
}

body {
    margin: 0px;
    background-color: var(--color-bg);
    background-image: radial-gradient(circle, var(--color-bg-gradient-1) 30%, var(--color-bg-gradient-2) 100%);
}

header {
    padding: 10px;
}

hr { opacity: 10%; }
hr.vertical{ 
    border:         none;
    border-left:    2px solid;
    height:         100vh;
    width:          1px; 
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul, ol {    
    padding: 0px;
    margin-inline: 0px;
    list-style-type: none;
}
li {
    width: 100%;
    padding: 20px;
    border-bottom: 2px solid var(--color-bg-element);

    text-align: center;
    transform-style: preserve-3d;
    transform: translateX(-14%);
}
li:last-child { border: none; }

.full-width { width: 100% }
.full-height { height: 100% }
.vertical { display: block; }
.horizontal { display: flex; }
.center-items { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.glassmorphism,
.rounded { border-radius: 12px; }

.secondary-text { color: var(--color-text-secondary); }

.pointer { cursor: pointer; }

.glassmorphism {
    backdrop-filter: blur(12px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(25, 24, 32, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.125);
}


.header {
    padding: 10px;
}

.menu {
    width: 50%;
    margin-inline: 0px;
    font-weight: bold;
}
.menu-item {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--color-bg-element);
    text-transform: capitalize;
    cursor: pointer;
}
.menu-item:last-child { border: none; }
.menu-item::before{
    background-image: url('img/icons/file_colour_simple.svg');
    width: 20px;
    aspect-ratio: 1;
    display: inline-block;
    margin-inline-end: 5%;
    content: "";
}
.menu-item::after{
    display: inline-block;
    margin-inline-start: 5%;
    color: var(--color-text-secondary);
    font-weight: 100;
    text-transform: none;
    opacity: 50%;
    content: "/folder/";
}
.menu:hover > .menu-item > a { color: var(--color-text-secondary); }
.menu-item:hover { background-color: var(--color-bg-element); }
.menu-item:hover > a { color: var(--color-text-main) !important; }
.menu:hover > .menu-item::before { background-image: url('img/icons/file.svg'); opacity: 50%; }
.menu-item:hover::before { background-image: url('img/icons/file_colour.svg') !important; opacity: 100% !important; }

.popup {
    align-items: center;
    gap: 20px;
    padding-inline: 20px;
}



#popupblur {
    position: fixed;
    padding: 0px;
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}