
@keyframes spin {
	from {
		transform: rotateY(0deg);
	}
	to {
		transform: rotateY(359.9deg);
	}
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;

	perspective: 1000px;
}

#main-image {
	width: 50%;
	max-width: 200px;
	margin-block-start: 50px;

	animation: spin 5s linear infinite;
}