
@keyframes progress-bar {
    from {
        background-color: var(--color-palette-1);
    }
    20% {
        background-color: var(--color-palette-2);
    }
    50% {
        background-color: var(--color-palette-3);
        border-radius: 0px 999px 999px 0px;
        opacity: 100%;
    }
    to {
        background-color: var(--color-palette-4);
        border-radius: 0px;
        opacity: 100%;
        translate: 0px;
    }
}

@keyframes lift-box {
    to {
        width: 100%;
        height: 100%;
        transform: rotateX(0deg);
    }
}

@keyframes sticky-element-rotate {
    to {
        transform: rotateX(-360deg);
    }
}

@keyframes reset-translate {
    to {
        translate: none;
    }
}
