
:root {
    --rand: random;
    --font-default: monospace;
    --font-main: "hack";

    --color-text-main: white;
    --color-text-secondary: rgba(217, 218, 253, 0.35);

    --color-bg-body: #10131d;
    --color-bg-gradient-1: #0b0c11;
    --color-bg-gradient-2: #000000;

    --color-bg-element: #1a1e2d;
    --color-fg-element: #242a3e;

    --default-border-radius: 12px;
    --default-border-style: 1px solid rgba(255, 255, 255, 0.125);

    --default-transition-duration: .15s;
}

* {
    user-select: none;
    overflow-x: hidden;
    font-family: var(--font-default);
    font-family: var(--font-main);
    color: var(--color-text-main);
    max-width: 100vw !important;
    transition: all var(--default-transition-duration);
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: var(--color-bg-body);
    background-image: radial-gradient(circle, var(--color-bg-gradient-1) 30%, var(--color-bg-gradient-2) 100%);
}

h1, h2, h3, h4, h5 {
    margin: 0;
    margin-bottom: 20px;
}

header {
    height: 100vh;
}

a {
    cursor: pointer;
}
a:hover {
    color: aqua;
}
.menu a {
    text-decoration: none;
}

ul, ol {    
    padding: 0;
    margin-inline: 0;
    list-style-type: none;
}
li {
    width: 100%;
    padding: 20px;
    border-bottom: 2px solid var(--color-bg-element);

    text-align: center;
    transform-style: preserve-3d;
    /*transform: translateX(-14%);*/
}
li:last-child { border: none; }

::-webkit-scrollbar {
    width: 0.4vw;
}
::-webkit-scrollbar-track {
    background: var(--color-bg-element);
}
::-webkit-scrollbar-thumb {
    background-color: var(--color-fg-element);
    border-radius: 20px;
}

.full-width { width: 100% }
.full-width-margin { width: 95% }
.full-height { height: 100% }
.full-height-margin { height: 95% }

.fit-content { min-width: fit-content }

.vertical { display: flex; flex-direction: column; }
.horizontal { display: flex; flex-direction: row; }

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

.align-center { display: flex; align-items: center; }
.center-items { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.rounded { border-radius: var(--default-border-radius); }
.rounded2 { border-radius: calc(var(--default-border-radius) * 1.5); }

.border {
    border: var(--default-border-style);
}

.secondary-text { color: var(--color-text-secondary); }

.header {
    padding-block-start: 5vh;
}

.text-image {
    background-clip: text;
    -webkit-background-clip: text;
}

.menu {
    min-width: 15vw;
    margin: 0;
    margin-top: 30px;
    padding: 7px;
    font-weight: bold;
}
.menu-item {
    padding-block: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: var(--default-border-style);
    font-size: x-large;
    text-transform: capitalize;
    cursor: pointer;
    position: relative;
}
.menu-item:last-child {
    border: none;
}
.menu-item::before, .menu-item::after {
    position: absolute;
    display: inline-block;
    transition: inherit;
}
.menu-item::before {
    left: 4%;
    width: 25px;
    aspect-ratio: 1;
    background-image: url('/index_resources/img/icons/file_colour_simple.svg');
    filter: drop-shadow(-4px 4px 6px #090b14);
    content: "";
}
.menu-item::after {
    right: 4%;
    color: var(--color-text-secondary);
    opacity: 50%;
    font-weight: 100;
    font-size: small;
    text-transform: none;
    content: "/" attr(data-text);
}

.menu:hover:has(> .menu-item:hover) > .menu-item {
    color: var(--color-text-secondary);
    filter: blur(1px);
}
.menu:hover:has(> .menu-item:hover) > .menu-item::before { background-image: url('/index_resources/img/icons/file.svg'); opacity: 50%; }
.menu:hover:has(> .menu-item:hover) > .menu-item::after { content: "//"; }

.menu-item:hover {
    background-color: var(--color-bg-element);
    color: var(--color-text-main) !important;
    border-radius: 12px;
    border: transparent;
    filter: blur(0px) !important;
    box-shadow: rgba(0, 0, 0, 0.75) 0 0 20px 10px;
}
.menu-item:hover::before { left: 5%; background-image: url('/index_resources/img/icons/file_colour.svg') !important; opacity: 100% !important; }
.menu-item:hover::after { right: 5%; font-size: medium; content: "./" attr(data-text) " >" !important; }

.menu-item:active { font-size: large; }
.menu-item:active::before { left: 6%; background-image: url('/index_resources/img/icons/file.svg') !important; }
.menu-item:active::after { right: 6%; content: "cd ./" attr(data-text) !important; }

.menu-item-static {
    padding-block: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: var(--default-border-style);
    font-size: x-large;
    color: var(--color-text-secondary);
}
.menu-item-static:last-child {
    border: none;
}
.menu-item-static::after {
    position: absolute;
    display: inline-block;
    transition: inherit;
    right: 4%;
    color: var(--color-text-secondary);
    opacity: 50%;
    font-weight: 100;
    font-size: small;
    text-transform: none;
    content: "...";
}

.main-menu-item {
    padding-block: 15px;
}

#main-title {
    --gradient-1: rgb(95, 231, 255);
    --gradient-2: rgb(102, 0, 255);
    --gradient-blend: rgb(61, 122, 255);

    font-family: "hack bold";
    font-size: 18vh;
    margin-bottom: 2vh;

    background-color: transparent;
    background-image: linear-gradient(90deg,
        var(--gradient-1),
        var(--gradient-blend),
        var(--gradient-2),
        var(--gradient-blend),
        var(--gradient-1),
        var(--gradient-blend),
        var(--gradient-2),
        var(--gradient-blend)
    );
    background-size: 238% 100%;
    background-repeat: repeat;
    color: transparent;

    animation: title-gradient 5s linear infinite;
}



